{% for conf in babel_additional_confs %}
{{ conf }}
{% endfor %}
{% for interface in babel_interfaces %}
interface {{ interface }}
{% endfor %}
{% for rule in babel_filter_rules %}
{{ rule }}
{% endfor %}
